ion-thumbnail {
    --size: 140px;
    --border-radius: 14px;
}

ion-chip {
    margin: 5px;
    font-size: small;
}

ion-modal {
    padding: 5%;
    padding-top: 0;
}

ion-card-content {
    padding: 0;
}

ion-list {
    padding: 0;
}

.title-primary-bold {
    margin: 0;
    font-weight: bold;
    font-size: xx-large;
}

.card-contr {
    border-radius: 12px;
    margin: 5px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}

.label-notify {
    font-size: small;
}

.item-label-description {
    font-weight: bold;
}

.right-content {
    color: #666;
    font-size: 14px;
}

.money-debito {
    color: red !important;
}

.label-details {
    font-weight: bold;
}

// --------------------------------------
.add-profile-container {
    margin-top: 15px;
    width: 100%;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    /* texto izquierda, chip derecha */
    align-items: center;
    background: linear-gradient(135deg, #0cc990 0%, #4aa8ff 100%);
    /* tu color */
    border-radius: 30px;
}

.left-text p {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}

.add-chip {
    --background: #ffffff;
    --color: #0c72c9;
    font-weight: bold;
    border-radius: 8px;
    padding: 0 10px;
}



.padding-5 {
    padding: 5%;
    padding-bottom: 0%;
}

.tilte-page {
    margin: 5%;
}

.title-primary-bold {
    margin: 0;
    font-weight: bold;
    font-size: x-large;
    color: aliceblue;
}

.splash {
    margin: 0;
    padding: 0;
    border: .1px solid rgba(3, 3, 3, 0);
    padding-bottom: 10px;
    background: var(--app-background-splash);
    box-shadow: 0 4px 6px -2px rgba(0,0,0,0.3);
    border-bottom-left-radius: 25%;
}


.btn-light {
    --background: #ec0a0a;
    --color: #000000;
}

.btn-dark {
    --background: #65e90d;
    --color: #ffffff;
}