<ion-content>
  <div class="splash padding-5"></div>
  
  <div>
    <ion-text>
      <h1 class="remesas">Gestor Remesas</h1>
    </ion-text>
  </div>

  <div class="center-absolute">
    <ion-text>
      <h1 class="page-title">Iniciar Sesión</h1>
    </ion-text>
  </div>

  <div class="center-absolute">
    <ion-avatar class="height-width-100">
      <img alt="img-login" src="./../../assets/logos/remesas2026.jpg" />
    </ion-avatar>
  </div>

  <div style="padding: 20px;">
    <ion-label mode="ios">Ingrese Usuario</ion-label>
    <ion-input style="--highlight-color-focused: green; --border-radius:10px; margin-bottom: 11px;" label-placement="floating" fill="outline">
      <ion-icon slot="start" name="person-outline" aria-hidden="true"></ion-icon>
    </ion-input>
    
    <ion-label mode="ios">Ingrese Clave</ion-label>
    <ion-input style="--highlight-color-focused: green; --border-radius:10px;" label-placement="floating" fill="outline">
      <ion-icon slot="start" name="lock-closed-outline" aria-hidden="true"></ion-icon>
    </ion-input>
    
    <ion-button (click)="navHome()" style="--border-radius:15px; margin-top: 20px;" expand="block">Ingresar</ion-button>
  </div>



</ion-content>