ion-label {
    font-weight: 400;
    margin: 2px;
}

.center-absolute {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-bottom: 15px;
}

.height-width-100 {
    height: 130px;
    width: 165px;
}

.page-title {
    margin: 0;
    font-weight: bold;
    color: #006cca;
    font-size: 35px;
}

.splash {
    margin: 0;
    padding: 0;
    border: .1px solid rgba(3, 3, 3, 0);
    padding-bottom: 20px;
    background: var(--app-background-splash);
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 25%;
}

.padding-5 {
    height: 60px;
    padding: 5%;
    padding-bottom: 0%;
}

ion-avatar {
    --border-radius: 4px;
}

.remesas {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    font-size: large;
    margin: 20px;
}