<ion-content>
  <div class="splash padding-5"></div>
  
  <div class="center-absolute">
    <ion-text>
      <h1 class="page-title">Iniciar Sesión</h1>
    </ion-text>
  </div>

  <div style="padding: 20px;">
    <ion-label mode="ios">Ingrese Usuario</ion-label>
    <ion-input style="--border-radius:10px;" label-placement="floating" fill="outline"></ion-input>
    <br><br>  
    <ion-label mode="ios">Ingrese Clave</ion-label>
    <ion-input style="--border-radius:10px;" label-placement="floating" fill="outline"></ion-input>
    <br>
    <ion-button routerLink="/tabs/findsend/home" style="--border-radius:15px;" expand="block">Ingresar</ion-button>
  </div>



</ion-content>