<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/findsend/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order" href="/findsend/order">
      <ion-icon aria-hidden="true" name="id-card"></ion-icon>
      <ion-label>order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/findsend/perfil">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config" href="/findsend/config">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>config</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
