<div style="display: flex; align-items: center; gap: 8px;">

  <!-- Flecha izquierda -->
  <ion-icon class="chevron-forward" name="chevron-back-outline" (click)="scrollLeft(carousel)"></ion-icon>

  <!-- Contenedor scroll -->
  <div class="content-scroll-horizontal" #carousel (scroll)="onScroll(carousel)">

    <ion-card mode="ios" class="card-content ion-activatable ripple-parent rounded-rectangle">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-card-header>
        <ion-card-title class="center">
          <h3 class="title-card">Principal TL-01</h3>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div class="content-img">
          <ion-avatar style="width: auto; height: auto;">
            <img class="img-perfil-sucursal" alt="perfil" src="./../../../../assets/testing/photo-maracay-test.jpeg"
              style="width: 90px; height: 90px;" />
          </ion-avatar>
        </div>

        <ion-text class="money-balance">Balance:</ion-text>
        <div class="content-acount">
          <ion-text class="money">1500.00</ion-text>
          <ion-icon class="money-icon-usd" color="success" name="logo-usd"></ion-icon>
        </div>

          <ion-text color="medium" class="money-description">Aragua-Maracay</ion-text>

      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="card-content ion-activatable ripple-parent rounded-rectangle">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-card-header>
        <ion-card-title class="center">
          <h3 class="title-card">Sucursal TL-02</h3>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div class="content-img">
          <ion-avatar style="width: auto; height: auto;">
            <img class="img-perfil-sucursal" alt="perfil" src="./../../../../assets/testing/photo-chacao-test.jpeg"
              style="width: 90px; height: 90px;" />
          </ion-avatar>
        </div>

        <ion-text class="money-balance">Balance:</ion-text>
        <div class="content-acount">
          <ion-text class="money">2100.00</ion-text>
          <ion-icon class="money-icon-usd" color="success" name="logo-usd"></ion-icon>
        </div>

          <ion-text color="medium" class="money-description">Caracas-Chacao</ion-text>

      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="card-content ion-activatable ripple-parent rounded-rectangle">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-card-header>
        <ion-card-title class="center">
          <h3 class="title-card">Sucursal TL-03</h3>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div class="content-img">
          <ion-avatar style="width: auto; height: auto;">
            <img class="img-perfil-sucursal" alt="perfil" src="./../../../../assets/testing/photo-coro-test.jpeg"
              style="width: 90px; height: 90px;" />
          </ion-avatar>
        </div>

        <ion-text class="money-balance">Balance:</ion-text>
        <div class="content-acount">
          <ion-text class="money">1500.00</ion-text>
          <ion-icon class="money-icon-usd" color="success" name="logo-usd"></ion-icon>
        </div>

          <ion-text color="medium" class="money-description">Falcon-Coro</ion-text>

      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="card-content ion-activatable ripple-parent rounded-rectangle">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-card-header>
        <ion-card-title class="center">
          <h3 class="title-card">Sucursal TL-04</h3>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div class="content-img">
          <ion-avatar style="width: auto; height: auto;">
            <img class="img-perfil-sucursal" alt="perfil" src="./../../../../assets/testing/photo-guaira-test.jpeg"
              style="width: 90px; height: 90px;" />
          </ion-avatar>
        </div>

        <ion-text class="money-balance">Balance:</ion-text>
        <div class="content-acount">
          <ion-text class="money">1500.00</ion-text>
          <ion-icon class="money-icon-usd" color="success" name="logo-usd"></ion-icon>
        </div>

          <ion-text color="medium" class="money-description">Guaira-Zulia</ion-text>

      </ion-card-content>
    </ion-card>

  </div>

  <!-- Flecha derecha -->
  <ion-icon class="chevron-forward" name="chevron-forward-outline" (click)="scrollRight(carousel)"></ion-icon>

</div>

<!-- Indicadores -->
<div class="dots-container">
  @for (s of sucursales; let i = $index; track $index) {
  <div class="dot" [class.active]="i === currentIndex"></div>
  }
</div>