ion-button {
    font-size: large;
}

.padding-10 {
    padding: 10px;
}

.inline-block {
    display: inline-block;
}

.img-profile {
    height: 50px;
    width: 50px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.icon-notify {
    color: white !important;
}

.pin-notify {
    position: absolute;
    z-index: 10;
}

.number-pin-notify {
    color: white;
}

.notifications {
    margin-top: 10px;
}