ion-item{
    padding: 5px;
}

.profile-transaction {
    margin-right: 15px;
}

.item-transaction {
    margin-top: 3px;
}

.item-label-description {
    color: green;
    font-weight: bold;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right-content {
    color: #666;
    font-size: 10px;
}

.item-label-more {
    font-weight: bold;
    font-size: medium;
}

.center-text-large {
    width: 100%;
    text-align: center;
    font-size: large;
}

.label-notify{
    font-size: small;
}

.label-red {
    color: red !important;
}