.profile-transaction {
    margin-right: 15px;
    margin-left: 10px;
}

.item-transaction {
    margin-right: 5%;
    
}

.item-label-description {
    color: green !important;
    font-weight: bold;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right-content {
    color: #666;
    font-size: 14px;
}

.item-label-more {
    font-weight: bold;
    font-size: medium;
}

.center-text-large {
    width: 100%;
    text-align: center;
    font-size: large;
}

  