.profile-transaction {
    margin-right: 10px;
}

.item-transaction {
    margin: 5px;
}

.item-label-description {
    color: green !important;
    font-weight: bold;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right-content {
    color: #666;
    font-size: 14px;
}