h1 {
    margin: 0;
}

.padding-4 {
    padding: 4%;
}

.padding-2 {
    padding: 0%;
    padding-left: 8%;
    padding-bottom: 0%;
}

.margin-5 {
    margin: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.title-primary-bold {
    margin: 0;
    font-weight: bold;
    font-size: xx-large;
    color: aliceblue;
}

.title-secundary-bold {
    font-weight: bold;
    font-size: x-large;
    color: grey !important;
}

.splash {
    margin: 0;
    padding: 0;
    border: .1px solid rgba(3, 3, 3, 0);
    padding-bottom: 30px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    background: var(--app-background-splash);
    border-bottom-left-radius: 25%;
}