<ion-content class="content-page" [fullscreen]="true">
 
  <div class="margin-3 margin-top-20">
    <app-header-operator/>
  </div>

  <div class="padding-8">
    <ion-text color="dark">
      <h1 class="title-primary-bold" >Cuenta</h1>
    </ion-text>
  </div>

  <div class="padding-4">
    <ion-text color="medium">
      <h1 class="title-secundary-bold">Sucursales</h1>
    </ion-text>
    <app-branchs-operator/>
  </div>

  <div class="padding-4">
    <ion-text color="medium">
      <h1 class="title-secundary-bold">Transacciones</h1>
    </ion-text>
    <app-transaction-operator/>
  </div>

</ion-content>
