.padding-5 {
    padding: 5%;
}

.padding-8 {
    padding: 8%;
    padding-bottom: 0%;
}

.margin-5 {
    margin: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.title-primary-bold {
    margin: 0;
    font-weight: bold;
    font-size: xx-large;
}

.title-secundary-bold {
    font-weight: bold;
    font-size: x-large;
    color: grey !important;
}