.padding-5 {
    padding: 5%;
    padding-bottom: 0%;
}
.tilte-page {
    margin: 5%;   
}
.title-primary-bold {
    margin: 0;
    font-weight: bold;
    font-size: x-large;
    color: aliceblue;
}

.splash {
    margin: 0;
    padding: 0;
    border: .1px solid rgba(3, 3, 3, 0);
    padding-bottom: 10px;
    background: var(--app-background-splash);
    box-shadow: 0 4px 6px -2px rgba(0,0,0,0.3);
    border-bottom-left-radius: 25%;
}